*{
	list-style-type: none;
	text-decoration: none;
	font-family: cursive;
	padding: 0;
	margin:0;
}

body
{
	background-color: #00102b;
}

.nav{
	height:158px;
	width: 100%;
	background-color: rgba(255,255,255,0.5);

;



}
.menu{float: right; margin-top: 35px;
		margin-right: 60px;
}


.menu li{
	display: inline-block;
	margin-right:40px;



}
.menu li a{
	color: #00102b;;
text-align: center;

}.menu li {
	color: #00102b;;
text-align: center;

}
.menu li:hover
{
	transform: scale(1.2);


}
.logo{
	display: inline-block;
	padding-bottom: 10px;
}
.section1{ height:700px;
	/*background:url('back.png');
	*/
}
.logo img{
	padding-bottom: 10px;
}
.sous {
	display: none;
	position: absolute;
}

.menu li a:hover{text-decoration: underline;
	text-decoration-color:  #01CBB7 ;
	color:white;

	transition:  0.35s;


}
.ou{
	margin-left: 250px;
	display: inline-block;
}


.menu li:hover .sous {
	font-weight: 100;
	display: block;
	height: 100px;
	width: 380px;
	padding-right: 20px;
	text-align: left;
	font-size: 14px;



}
.up{
	width: 100%;
	height: 400px;
	display: flex;
	margin-bottom: 100px;
}
.contenu{
	height: 100%;
	width: 33%;
	display: inline-block;
	margin-right: 22px;
	margin-left: 10px;
	padding-left:15px;
}
.contenu img{
	border-radius: 20%;
}
.contenu .text{
	text-align: center;
	font-size: 20px;
	color: white;
}
.contenu:hover{
transform: scale(1.1);
transition: 0.5s;

}
.catego{
	text-align: center;
	font-size: 40px;
	color: white;
	margin-bottom: 40px;
}
span{color:  #01CBB7;

}
.featbar{
	background-color:white ;
	height:90px;
	width: 100%;
	text-align: center;
	padding-top: 20px;
}
.txt{
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}
.form{
	display: block;
}
.input{
	margin-bottom: 25px;
}
.button{
	font-size: 25px;border:1px solid white; color:white;
	border-radius:10px;
	background-color: #00102b;
	padding: 10px;
	margin-bottom: 20px;

}
.button:hover{
	
	background-color:  #01CBB7;

}